# ==========================
# FRONTEND (Angular)
# ==========================
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.env
frontend/.vscode/

# ==========================
# BACKEND (Spring Boot)
# ==========================
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/
backend/.env

# ==========================
# SISTEMA / EDITOR
# ==========================
.DS_Store
Thumbs.db
*.iml
*.log

# ==========================
# VARI
# ==========================
.env
