services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: my_web_portafoglio
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
  
  backend:
    build: ./backend
    ports:
      - "8081:8081"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/my_web_portafoglio?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root

  frontend:
    build: ./frontend-my-web-portafoglio
    ports:
      - "80:80"
    depends_on:
      - backend