<nav class="navbar sticky-top navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="loader"></div>
    <a class="navbar-brand" href="#">My Web Portafoglio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<app-sidebar />
