<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Data <app-arrow /></th>
      <th scope="col">Importo <app-arrow /></th>
      <th scope="col">Descrizione</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
    @for (uscita of uscite; track uscita.id) {
        <tr>
            <td>{{uscita.dataSpesa | date: 'd/M/yyyy'}}</td>
            <td>{{uscita.importo | currency: 'EUR'}}</td>
            <td>{{uscita.descrizione}}</td>
            <td>{{uscita.categoriaSpesa}}</td>
        </tr>
    }
  </tbody>
</table>  