.ordine svg {
    cursor: pointer;
    transition: transform 0.5s ease;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  opacity: 0;
}

.ordine input:checked + svg {
    transform:rotate(-180deg)
}